.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(248, 249, 250);
    border-top: 1px solid #ddd;
    z-index: 5;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}

.nav-icon {
    flex: 1;
    text-align: center;
    color: gray;
    text-decoration: none;
}

.nav-icon p {
    margin: 0;
    font-size: 13px;
}

.nav-icon i {
    font-size: 22px !important;
}

.nav-icon.active i,
.nav-icon.active p {
    color: #000;
}

/* Placeholder ensures spacing stays correct */
.nav-placeholder {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.add-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
    background-color: gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-decoration: none;
    outline: none;
}

.add-icon:focus {
    outline: none;
}

.add-icon:hover {
    background-color: #333;
}

.add-icon.active {
    background-color: black;
}

.add-icon.active i,
.add-icon:hover i {
    color: white;
}

/* Ensure even spacing */
.navbar .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-modal-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-modal {
    width: 300px;
    height: 150px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: fixed !important;
    top: -5%;
    left: 39.8%;
}

.nav-modal-title {
    font-size: 20px;
    align-items: left;
    justify-content: left;
}

.nav-modal-icon {
    margin-right: 6px;
    margin-bottom: 4px;
    font-size: 16px;
}