.auth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

.auth-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.auth-button:hover {
    background-color: #333;
}

.auth-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.auth-link:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.google-button {
    background-color: #000;
    color: #fff;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
}

.google-icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    margin-bottom: 2px;
}

.google-button:hover {
    background-color: #333;
}